<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hummingbird Export</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Hummingbird Exporter</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="well">
        <form method="post" action="/submit">
          <legend>Export Hummingbird Viewing Stats</legend>

          <fieldset class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname" class="input-xlarge">
          </fieldset>

          <fieldset class="form-group">
            <label for="method">Format</label>
            <select id="method" name="method" class="input-xlarge">
              <option value="0">Hummingbird</option>
              <option value="1">MAL Compatible</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <button class="btn btn-primary" type="submit">Export</button>
          </fieldset>
        </form>

        <center><small>Written by <a href="http://hummingbird.me/users/Wyvryn/feed">Wyvryn</a> --- View source at <a href="https://github.com/Wyvryn/HummingbirdExport/">Github</a></small></center>
      </div>
    </div>
  </body>
</html>
