<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hummingbird Export</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Hummingbird Exporter</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="well">
        <form class="form-horizontal" method="post" action="/submit">
          <fieldset>

          <!-- Form Name -->
          <legend>Export Hummingbird Viewing Stats</legend>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="uname">Username</label>
            <div class="controls">
              <input id="uname" name="uname" type="text" class='input-xlarge'>
            </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="method">Format</label>
              <div class="controls">
                <select id="method" name="method" class="input-xlarge">
                  <option value="0">Hummingbird</option>
                  <option value="1">MAL Compatible - Experimental</option>
                </select>
              </div>
            </div>


          </fieldset>
          <button class="btn btn-primary" type="submit">Export</button>
        </form>
        <center><small>Written by <a href="http://hummingbird.me/users/Wyvryn/feed">Wyvryn</a> --- View source at <a href="https://github.com/Wyvryn/HummingbirdExport/">Github</a></small></center>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>
